/***********basic style************/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica;
}

.row {
    width: 100%;
}

.menu {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    text-weight: bold;
    font-size: 175%;
}

.container {
    position: relative;
    top: 60px;
    margin: 15px;
}

.food {
    position: relative;
    top: 0px;
    padding: 20px;
    background-color: lightgray;
    border: 2px solid black;
    margin: 15px;
}


.food p {

    color: black;
    margin-top: 18px;
    text-align: justify;
    font-size: 100%;
}
.subject {
    position: absolute;
    padding: 5px 50px;
    font-size: 125%;
    top: 0px;
    right: 0px;
    background: grey;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


#title1 {

    background-color: pink;

}

#title2 {

    background-color: palevioletred;

}

#title3 {

    background-color: sandybrown;

}



/********** desktop style **********/
@media (min-width: 992px){
  .col-lg-4, .col-lg-12 {
    float: left;  
  }
 
  .col-lg-4 {
    width: 33.33%;
  }
 
  .col-lg-12 {
    width: 100%;
  }

}
/********** tablet style **********/
@media (min-width: 768px) and (max-width: 991px){
  .col-lg-4 {
    width: 50%;
    float: left;
  }
  .col-lg-tab{
   width: 100%;
   float: left;
 }
}

/********** mobile style **********/
@media (max-width: 767px) {
    .col-lg-12 {
    width: 100%;
    float: left;
  }
}
